intermedi/
tmp/
results/lt/*
target/
*.dict
morfologik-lt/*_lt.txt
morfologik-lt/*.txt
.xpr
*.log
**/*pycache__/
**/.pytest_cache/
**/test.dic
**/test.aff
**/test.out
**/test_utf.out
**/compounds/*.aff
test_words.txt
**/*.swp
**/*.swo
pos_tagger_scripts/fdic-to-lt/verb-test*

# for the time being, these are committed to the repo, since there are issues with compiling on Windows
# results/java-lt/src/*
